/**
    Universal selector
    - The CSS universal selector ( * ) matches elements of any type.
*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/** 
    CSS variable
    - A tint is a mixture of a color with white, which increases lightness, while a shade is a mixture with black, which increases darkness.
*/
:root {
    --color-white: #FFFFFF;
    --color-white-tint: #F8F8F8;
    --color-black: #000000;
    --color-black-shade: #151414;
    --color-black-gray: #444343;
    --color-black-tint: #737272;
    --color-orange: #F15B22;
    --color-icon: #16D887;
}

/** 
    Root element's font-size 
    - font-size: 10px;
    - 10px / 16px = 0.625 = 62.5%
    - Percentage of user's browser font-size setting
*/
html {
    font-size: 62.5%;
}

body {
    font-family: 'Work Sans', sans-serif;
    line-height: 1;
    font-weight: 400;
    color: var(--color-black-gray);
}

/**
    Button
*/

.btn,
.btn:link,
.btn:visited {
    display: inline-block;
    text-decoration: none;
    font-size: 2rem;
    font-weight: 600;
    line-height: 1.2;
    border: 0;
    border-radius: 5px;
    cursor: pointer;
}

.btn--primary,
.btn--primary:link,
.btn--primary:visited {
    padding: 1.8rem 2rem;
    color: var(--color-white) !important;
    background-color: var(--color-orange);
}

.btn--white,
.btn--white:link,
.btn--white:visited {
    padding: 1.8rem 2rem;
    background-color: var(--color-white);
    color: var(--color-orange) !important;
}


/**
    Margin
*/

.margin-r-30 {
    margin-right: 3rem !important;
}

.margin-b-50 {
    margin-bottom: 5rem !important;
}

/**
    Headline
*/

.headline-primary {
    font-size: 6rem;
    color: var(--color-black-shade);
    line-height: 1.2;
    font-weight: 700;
    margin-bottom: 2rem;
}

.headline-secondary {
    font-size: 3.5rem;
    color: var(--color-black-shade);
    line-height: 1.2;
    font-weight: 700;
    margin-bottom: 2rem;
}

.headline-tertiary {
    font-size: 2.5rem;
    color: var(--color-black-shade);
    line-height: 1.2;
    font-weight: 700;
    margin-bottom: 2rem;
}

/**
    Text center
*/

.text-center {
    text-align: center;
}

.text-right {
    text-align: right;
}

.text-left {
    text-align: left;
}

/**
    Container
*/

.container {
    max-width: 120rem;
    margin: 0 auto;
    padding: 0 3.5rem;
}

/**
    Flex display
*/
.d-flex {
    display: flex;
}

.d-flex--align-center {
    align-items: center;
}